
/* Lora Bold */
@font-face {
    font-family: 'Lora-Bold';
    src: url('../fonts/Lora-Bold.woff2') format('woff2'),
         url('../fonts/Lora-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Lora italic*/
@font-face {
    font-family: 'Lora-Italic';
    src: url('../fonts/Lora-Italic.woff2') format('woff2'),
         url('../fonts/Lora-Italic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Lora Regular */
@font-face {
    font-family: 'Lora-Regular';
    src: url('../fonts/Lora-Regular.woff2') format('woff2'),
         url('../fonts/Lora-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Marcellus Regular */
@font-face {
    font-family: 'Marcellus-Regular';
    src: url('../fonts/Marcellus-Regular.woff2') format('woff2'),
         url('../fonts/Marcellus-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

//---Buttons

.buttons {
    display: flex;
    a {
        border: 1px solid #fff;
        padding: 10px 15px;
        text-decoration: none;
        font-family: 'Lora-Regular', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        text-transform: uppercase;
        color: #fff;
        transition: background-color 0.5s ease, color 0.3s ease;
        

        &:nth-child(1) {
            margin-right: 15px;
            color: #000;
            background-color: #fff;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }

        &:nth-child(2) {

            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }

    &.grey_button {
        a {
            &:nth-child(1) {
                background-color: #777777;
                color: #FFF;
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
    
            &:nth-child(2) {
                color: #040404;
                background-color: #fff;
                border: 1px solid #DFDFDF;
                &:hover {
                    background-color: #DFDFDF;
                    color: #fff;
                }
            }
        }
       
    }
}

.title {
    font-family: 'Marcellus-Regular', sans-serif;
    font-size: 62px;
    font-weight: 400;
    line-height: 75px;
    text-align: center;
    color: #242424;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.second_title {
    font-family: 'Marcellus-Regular', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 55px;
    text-align: center;
    color: #242424;
    margin-bottom: 10px;
    text-transform: uppercase;

}

.subtitle {
    font-family: 'Lora-Italic', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    margin-bottom: 10px;
    color:#C3935B;
}

.description {
    font-family: 'Lora-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #777777;
}


//---Header

.main_header {
    background-color: #040404;

    .header_wrapper {
        display: flex;
         max-width: 1170px;
            margin: 0 auto;
        .menu-header-menu-container {
            max-width: 760px;
            width: 100%;
            padding: 6px;
    
            .menu_list {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                
    
                .menu-item {
                    font-family: 'Marcellus-Regular', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    text-transform: uppercase;
                    
            
                    a {
                        text-decoration: none;
                        color: #fff;

                        &:hover {
                            border-bottom: 1px solid #C3935B;
                        }
                    }

                }
                li::after {
                    content: '\f078'; 
                    font-family: 'FontAwesome'; 
                    color: #FFF;
                    margin-left: 5px;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
   
    
}

//---main banner

.main_banner {
    background-color: #040404;
   
    .content_wrapper {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        padding: 160px 0 240px 100px;
        min-height: 640px;
        color: #fff;

        .banner_sub_title {
            font-family: 'Lora-Italic', sans-serif;
            font-size: 22px;
            font-weight: 400;
            line-height: 25px;
            margin-bottom: 10px;
        }

        .banner_title {
            font-family: 'Marcellus-Regular', sans-serif;
            font-size: 54px;
            font-weight: 400;
            line-height: 60px;
            margin-bottom: 20px;
            margin-top: 0;
        }

        .banner_text {
            font-family: 'Lora-Regular', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
            margin-bottom: 35px;
            max-width: 470px;
        }
        
    }
}

.jewellery_store_banner {
    padding-top: 100px;
    padding-bottom: 100px;

    .content_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .jewellery_store_banner_image {
            max-width: 624px;
        }

        .jewellery_store_banner_content {
            max-width: 470px;

            .description {
                margin-bottom: 30px;
            }

            .buttons {
                max-width: fit-content;
                margin: 0 auto;
            }
        }
    }
}

//---carousel slick slide

.slick-slider {
    display: flex !important;
    align-items: center;
    max-width: 870px;
    .slick-arrow {
        border: none;
        background-color: #fff;
        color: #777777;
        width: 15px;
        height: 9px;
        cursor: pointer;
    }

    .slick-prev {
        margin-right: 30px;
    }
    .slick-next {
        margin-left: 30px;
    }

    .slick-list {
        max-width: 780px;
        width: 100%;

        .slick-slide {
            max-width: 250px;
            margin-right: 30px;
            

            a {
                box-sizing: content-box;
            }
        }
    }
}

//--- Featured product section

.featured_product {
    margin-bottom: 100px;

    .featured_product_header {
        margin-bottom: 50px;

        .title {
            font-size: 30px;
            line-height: 40px;
        }

        .description {
            max-width: 470px;
            margin: 0 auto;
        }
    }

    .featured_product_wrapper {
        display: flex;

        .product_ads {

            .product_ads-container {
                max-width: 270px;
                margin-right: 30px;

                .product_ads-item {
                    position: relative;
                    overflow: hidden;
                    max-height: 370px;

                    a {
                        display: block;
                        position: relative;
                        transition: transform 0.3s ease;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            transform: scale(0.9);
                            transition: opacity 0.3s ease, transform 0.3s ease;
                        }

                    }

                    &:hover {
                        a {
                            transform: scale(1.1);

                            &::before {
                                opacity: 1;
                                transform: scale(1);
                            }
                        }

                        .product_ads-item-content {
                            top: 190px;
                            transition: top 0.3s ease;

                            span {
                                opacity: 1;
                                transition: top 0.3s ease;
                            }
                        }
                    }

                    .product_ads-item-content {
                        position: absolute;
                        top: 220px;
                        text-align: center;

                        .title {
                            font-size: 30px;
                            line-height: 35px;
                            color: #FFF;
                            max-width: 170px;
                            margin: 0 auto 10px;

                        }

                        span {
                            font-family: 'Lora-Regular', sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 25px;
                            text-transform: uppercase;
                            opacity: 0;
                        }
                    }

                    &:nth-child(2) {
                        margin-top: 30px;
                    }
                    
                }
                
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .carousel-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                margin-top: 15px;
                font-family: 'Marcellus-Regular', sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                text-align: center;
                color: #242424;
                margin-bottom: 5px;
                text-transform: none;
            }

            .description {
                margin-bottom: 5px;
            }

            span {
                color: #C3935B;
                font-family: 'Lora-Regular', sans-serif;
                font-size: 14px;
                font-weight: 700;
                line-height: 25px;
                text-align: center;
            }
        }

        .carousel {
            &:first-child {
                margin-bottom: 30px;
            }
        }
    }
}

//--- Special offer

.special_offer {
    margin-bottom: 100px;

    .special_offer_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .special_offer_content {
            .subtitle, .title, .second_title {
                text-align: left;
            }
            .buttons {
                margin-top: 30px;
            }
        }
    }
}

//--- Discount section

.discount_section {
    margin-bottom: 100px;

    .discount_section_wrapper {
        display: flex;
        justify-content: space-between;

        .discount_section_content {
            .title {
                text-align: left;

                span {
                    color: #C3935B;
                }
            }

            .second_title {
                text-align: left;
            }

            .description {
                text-align: left;
                max-width: 570px;
                margin-bottom: 30px;
                ul {
                    list-style-type: none;
                }
                
                li::before {
                    position: relative;
                    top: 4px;
                    margin-right: 10px;
                    content: url('data:image/svg+xml,<svg width="20" height="17" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.9166 6.37508L17.75 1.16675H5.24998L1.08331 6.37508M21.9166 6.37508L11.5 18.8751M21.9166 6.37508H1.08331M21.9166 6.37508L19.8333 3.77091M11.5 18.8751L1.08331 6.37508M11.5 18.8751L7.33331 6.37508M11.5 18.8751L15.6666 6.37508M1.08331 6.37508L3.16665 3.77091" stroke="%23C3935B" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                    
                }
                
            }
        }
    }
}

//---Blog posts home page section

.blog_posts_home {
    padding-bottom: 100px;

    .block_header {
        margin-bottom: 50px;

        .title {
            margin-top: 0;
            font-size: 30px;
            line-height: 40px;
        }
    }
    .post_carousel {
        max-width: 345px;
        margin-right: 20px;
        font-family: 'Lora-Regular', sans-serif;
        .post_image {
            position: relative;
    
            .custom-date {
                background-color: #FFF;
                color: #242424;
                padding: 5px 10px;
                position: absolute;
                top: 15px;
                left: 15px;
                display: grid;
                .day {
                    font-size: 24px;
                    line-height: 25px;
                }
                .month {
                    font-size: 13px;
                    line-height: 15px;
                    text-transform: uppercase;
                }
            }
        }
    
        .post_category {
            background: #C3935B;
            padding: 0 10px;
            margin: -12px auto 13px;
            max-width: fit-content;
            position: sticky;
            
            a {
                text-transform: uppercase;
                color: #fff;
                font-size: 12px;
                line-height: 25px;
            }
        }
    
        .post_title {
            font-family: 'Marcellus-Regular', sans-serif;
            font-size: 24px;
            line-height: 35px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    
        .post_author {
            display: flex;
            max-width: fit-content;
            margin: 0 auto 10px;
            color: rgba(119, 119, 119, 0.5);
            
            img {
                margin: 0 10px 0 10px;
                border-radius: 50%;
            }
        }
    
        .post_excerpt {
            margin-bottom: 20px;
            p {
                text-align: center;
                color: #777777;
                font-size: 14px;
                line-height: 25px;
            }
        }
    
        .continue {
            max-width: fit-content;
            margin: 0 auto;
            a {
                text-transform: uppercase;
                color: #C3935B;
                font-weight: 500;
                font-size: 14px;
                line-height: 25px;
            }
        }
    }

    .slick-slider {
        max-width: 1175px !important;
        .slick-list {
            max-width: 1175px !important;
            .slick-slide {
                max-width: 345px !important;
            }
        }
    } 
   
    

}

//---Footer

footer {
    background: #EAEAEA;

    .footer-widget-area {
        padding: 60px;
        max-width: 1170px;
        width: 100%;
        display: flex;
        margin: 0 auto;

        .footer-widget {
            list-style-type: none;
            max-width: 314px;
            margin-right: 12px;
            flex-grow: 1;

            .widget {
                color: #777777;

                .widgettitle {
                    font-family: 'Marcellus-Regular', sans-serif;
                    font-size: 18px;
                    line-height: 25px;
                    color: #000;
                }

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    li {
                        margin-bottom: 10px;

                        h3 {
                            a {
                                font-family: 'Marcellus-Regular', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        color: #242424;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: #777777;
                            

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .widget_text {
                .textwidget {
                    font-family: 'Lora-Regular', sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    max-width: 269px;
                }
            }

            .rpwe-block {
                .rpwe-thumb {
                    width: 75px;
                    height: 65px;
                }

                .rpwe-li {
                    border-bottom: 1px solid #DFDFDF;
                }
            }
        }
    }
}
